* {
    font-family: 'Courier New', Courier, 'Nimbus Mono L', monospace;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

.main-background {
    /* IE10 Consumer Preview */
    background-image: -ms-linear-gradient(top, #2ED4EF 0%, #7598E1 100%);
    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top, #2ED4EF 0%, #7598E1 100%);
    /* Opera */
    background-image: -o-linear-gradient(top, #2ED4EF 0%, #7598E1 100%);
    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #2ED4EF), color-stop(1, #7598E1));
    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top, #2ED4EF 0%, #7598E1 100%);
    /* W3C Markup, IE10 Release Preview */
    background-image: linear-gradient(to bottom, #2ED4EF 0%, #7598E1 100%);
}

.sub-background {
    /* IE10 Consumer Preview */
    background-image: -ms-linear-gradient(top, #FFFFFF 0%, #58E1C1 100%);
    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top, #FFFFFF 0%, #58E1C1 100%);
    /* Opera */
    background-image: -o-linear-gradient(top, #FFFFFF 0%, #58E1C1 100%);
    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #58E1C1));
    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #58E1C1 100%);
    /* W3C Markup, IE10 Release Preview */
    background-image: linear-gradient(to bottom, #FFFFFF 0%, #58E1C1 100%);
}

#wrapper {
    border: 1px solid;
    width: 960px;

    .menu > li {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        position: relative;
        display: inline-block;
        float: left;
        width: 320px;

        > a:first-child {
            .main-background;
            position: relative;
            display: block;
            margin: 0 10px 0 10px;
            padding: 10px;
            text-align: center;
            border-radius: 10px;
            font-size: 1.3em;
            text-decoration: none;
        }

        .content:hover {
            display: block;
        }

        .content {
            .sub-background;
            position: absolute;
            display: none;
            z-index: 2;
            left: 40px;
            border: 1px solid;
            border-radius: 10px;
            list-style-position: inside;
            padding: 20px 10px 10px 10px;
            top: 40px;
            white-space: nowrap;

            li {
                display: flex;
            }

            h3 {
                padding: 10px 0 10px 0;
                font-size: 1.1em;
                text-decoration: underline;
            }            
        }

        &:hover .content {
            display: block;
        }

        &:hover a {
            zoom: 1.3;
        }
    }
}

a{
    text-decoration:none;
}

a:hover{
    text-decoration: underline;
}
