.clearfix {
  zoom: 1;
}
﻿.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}
* {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'DejaVu Sans Condensed', sans-serif;
  color: #4C84FC;
}
body {
  zoom: 1;
}
div#wrapper {
  width: 960px;
}
div#wrapper ul.msg-bar {
  list-style-type: none;
  margin-left: 50px;
  margin-top: 200px;
  position: relative;
  width: 560px;
}
div#wrapper ul.msg-bar > li {
  display: inline-block;
  padding-top: 5px;
}
div#wrapper ul.msg-bar > li a.msg-bar-btn {
  display: inline-block;
  border: 1px solid #000;
  text-decoration: none;
  padding: 5px 15px;
  background: linear-gradient(to bottom, #acffeb, #42ffcf);
}
div#wrapper ul.msg-bar > li div.msg-bar-content {
  display: none;
  position: absolute;
  border: 1px solid #000;
  border-bottom: none;
  bottom: 35px;
  left: 0;
  width: 460px;
  height: 155px;
  border-radius: 15px 15px 0 0;
  background-color: #ACFFEB;
}
div#wrapper ul.msg-bar > li div.msg-bar-content > ul > li {
  display: block;
  position: relative;
  margin: 5px 15px;
  zoom: 1;
}
div#wrapper ul.msg-bar > li div.msg-bar-content > ul > li:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}
div#wrapper ul.msg-bar > li div.msg-bar-content > ul > li span:first-of-type {
  display: inline-block;
  float: left;
  padding: 5px 15px;
  border: 1px solid #000;
  border-radius: 15px;
  text-align: center;
}
div#wrapper ul.msg-bar > li div.msg-bar-content > ul > li span:last-of-type {
  float: right;
  display: inline-block;
  border-bottom: 1px solid #000;
  padding: 5px 15px;
  width: 300px;
  text-align: right;
}
div#wrapper ul.msg-bar > li div.msg-bar-content > ul > li.me-item span:first-child {
  background-image: url("imgs/me.png");
  background-repeat: no-repeat;
  background-position: 5px center;
  padding: 5px 20px;
}
div#wrapper ul.msg-bar > li div.msg-bar-content > ul > li.other-item span:first-child:before {
  content: url("imgs/male.png");
}
div#wrapper ul.msg-bar > li div.msg-bar-content > ul > li:last-of-type span:last-of-type {
  border-bottom: none;
}
div#wrapper ul.msg-bar > li:hover {
  background: linear-gradient(to bottom, #acffeb, #42ffcf);
}
div#wrapper ul.msg-bar > li:hover .msg-bar-content {
  display: block;
}
div#wrapper ul.msg-bar > li:hover a {
  background: #00ddb3;
}
