* {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: Constantina, Georgia, 'Nimbus Roman No9 L', serif;
}
div#wrapper {
  width: 960px;
  zoom: 1;
}
div#wrapper div {
  margin: 25px;
  border: 1px solid;
  border-radius: 15px;
  width: 860px;
  box-sizing: padding-box;
  padding: 15px 35px;
  background: linear-gradient(to bottom, #de28ff 15%, #f9dbff 75%);
  position: relative;
}
div#wrapper div h1 {
  font-size: 1.8em;
}
div#wrapper div img.left-arrow {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-70%);
}
div#wrapper div img.right-arrow {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-70%);
}
div#wrapper div p.postedby {
  display: inline-block;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin: 5px 15px;
  padding: 5px 15px;
  font-size: 1em;
}
div#wrapper div p.info {
  margin: 15px 0;
  font-size: 1em;
  font-weight: 500;
  text-align: justify;
}
