* {
    padding: 0;
    margin: 0;
    font-size: 16px;
}

html, body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0 5px 0 5px;
}

#wrapper {
    width: 960px;
    margin: 0 auto;
}

.clear {
    clear: both;
}

header {
    height: 50px;
        background: url(images/header-bg.png);
}

header h1 {
    position: relative;
    float: left;
    top: 50%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left: 20px;
}

header nav {
    position: relative;
    display: inline-block;
    float: right;
    top: 50%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

header nav li {
    display: inline-block;
    padding: 0 10px 0 10px;
    float: right;
}

#searchBar {
    display: block;
    background-color: black;
    padding: 10px 10px 10px 0;

    a {
        color: white;
        text-decoration: none;
    }

    #archives {
        display: inline-block;
    }

    #search {
        display: inline-block;
        float: right;
    }
}

#content {

    h1{
        font-size: 1.5em;
        padding: 20px 0 20px 0;
    }

    article p{
        padding-bottom: 10px;
    }
}
